# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml

# Env
.env
*.local

# Logs
*.log
logs/

# Java / Maven
target/
*.class

# Gradle
.gradle/
build/

# Node / Vue
node_modules/
.npm-cache/
dist/
.vite/

# Uploads
uploads/

# Docker data
data/
